@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: red;
  /* background-color:yellow; */

}
*::before, *::after{
  padding: 0;
  margin: 0;
}
.material-icons{
  /* color: red; */
  /* background-color: red; */
}
 :root{
  --pink: #ff74a4;
  --violet: #9f6ea3;
  /* --lightblack: #515C6F; */
  /* --white: #ffffff; */
  /* --darkwhite: #cecaca; */
  /* --pinkshadow: #ffcbdd; */
  --lightbshadow: rgba(0,0,0.0,0.95);
  /* color: red; */
  /* background-color:black; */
} 
/* .progress-area{
  color: red;
  background-color: red;
} */

body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  /* background: yellow; */
  background: linear-gradient(var(--pink) 0%, var(--violet) 100%);
}
.wrapper{
  width: 1000px;
  padding: 25px 30px;
  overflow: hidden;
  position: relative;
  border-radius: 15px;
  background-color: black;
  /* background: var(--white); */
  box-shadow: 0px 6px 15px var(--lightbshadow);
}
.wrapper i{
  cursor: pointer;
}
.top-bar, .progress-area .song-timer, 
.controls, .music-list .header, .music-list ul li{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top-bar i{
  font-size: 30px;
  color: var(--lightblack);
}
.top-bar i:first-child{
  margin-left: -7px;
}
.top-bar span{
  font-size: 18px;
  margin-left: -3px;
  color: var(--lightblack);
}
.img-area{
  /* width: 100%; */
  /* height: 256px; */
  width: 300px;
  height: 300px;
  overflow: hidden;
  margin-top: 25px;
  margin-left: 60px;
  border-radius: 50%;
	box-shadow: 0px 0px 12px 12px rgba(240,245,240,0.7);

  /* box-shadow: 0px 6px 12px var(--lightbshadow); */
}
.img-area img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.song-details{
  text-align: center;
  margin: 30px 0;
}
.song-details p{
  color: var(--lightblack);
}
.song-details .name{
  font-size: 21px;
}
.song-details .artist{
  font-size: 18px;
  opacity: 0.9;
  line-height: 35px;
}
.progress-area{
  height: 6px;
  width: 100%;
  border-radius: 50px;
  background: #f0f0f0;
  cursor: pointer;
}
.progress-area .progress-bar{
  height: inherit;
  width: 0%;
  position: relative;
  border-radius: inherit;
  /* background: linear-gradient(90deg, var(--pink) 0%, var(--violet) 100%); */
  background-color: red;
}
.progress-bar::before{
  content: "";
  position: absolute;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  top: 50%;
  right: -5px;
  z-index: 2;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-50%);
  background: inherit;
  transition: opacity 0.2s ease;
}
.progress-area:hover .progress-bar::before{
  opacity: 1;
  pointer-events: auto;
}
.progress-area .song-timer{
  margin-top: 2px;
}
.song-timer span{
  font-size: 13px;
  color: var(--lightblack);
}
.controls{
  margin: 40px 0 5px 0;
}
.controls i{
  font-size: 28px;
  user-select: none;
  /* background: linear-gradient(var(--pink) 0%, var(--violet) 100%); */
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.controls i:nth-child(2),
.controls i:nth-child(4){
  font-size: 43px;
}
.controls #prev{
  margin-right: -13px;
  background-color: blanchedalmond;

}
.controls #next{
  margin-left: -13px;
  background-color: blanchedalmond;

}
.controls .play-pause{
  height: 54px;
  width: 54px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  /* background: linear-gradient(var(--white) 0%, var(--darkwhite) 100%); */
  /* box-shadow: 0px 0px 5px var(--pink); */
  background-color: blanchedalmond;
  color: #515C6F;
}

#more-music{
  background-color: red;
}
#repeat-plist{  
  /* position: absolute; */
  /* content: ""; */
  /* height: 43px; */
  /* width: 43px; */
  /* border-radius: inherit;  */
  background-color:blanchedalmond;
}
.play-pause i{
  height: 43px;
  width: 43px;
  line-height: 43px;
  text-align: center;
  background: inherit;
  background-color: #515C6F;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
}
input{
  margin-top: 500px;
}

.music-list{
  position: absolute;
  background: var(--white);
  width: 100%;
  left: 0;
  bottom: -55%;
  opacity: 0;
  pointer-events: none;
  z-index: 5;
  padding: 15px 30px;
  border-radius: 15px;
  box-shadow: 0px -5px 10px rgba(0,0,0,0.1);
  transition: all 0.15s ease-out;
}
.music-list.show{
  bottom: 0;
  opacity: 1;
  pointer-events: auto;
}
.header .row{
  display: flex;
  align-items: center;
  font-size: 19px;
  color: var(--lightblack);
}
.header .row i{
  cursor: default;
}
.header .row span{
  margin-left: 5px;
}
.header #close{
  font-size: 22px;
  color: var(--lightblack);
}
.music-list{
  /* margin-left: 300px; */
}
.music-list ul{
  margin: 10px 0;
  max-height: 260px;
  overflow: auto;
}
.music-list ul::-webkit-scrollbar{
  width: 0px;
}
.music-list ul li{
  list-style: none;
  display: flex;
  cursor: pointer;
  padding-bottom: 10px;
  margin-left: 15px;
  margin-bottom: 5px;
  /* color: var(--lightblack); */
  border-bottom: 1px solid #E5E5E5;
  opacity: 0.8;
  
  /* color: yellow; */
  /* background-color: yellow; */
}
.music-list ul li:last-child{
  border-bottom: 0px;
}
.music-list ul li .row span{
  /* font-size: 17px; */
}
.music-list ul li .row p{
  /* opacity: 0.9; */
}
ul li .audio-duration{
  /* font-size: 16px; */
}
ul li.playing{
  /* pointer-events: none; */
  /* color: var(--violet); */
  /* color: yellow;
  background-color: yellow; */
}




#playbackSpeed{
  position:absolute;
	margin-top: -220px;
	margin-right: -645px;
	padding: 4px 20px;
	font-size: 15px;
  /* border:  */
	border-radius: 10px;
	/* box-shadow:7px 9px rgba(245,245,245,0.1); */
	background: rgba(245,245,245,0.1);
	/* color: azure; */
}

#playbackSpeed:hover{
  position:absolute;
	background-color:#FF8A65;
	color: black;
}

 /* volume part */
 .volume{
	position: absolute;
	/* margin-top: -490px; */

	bottom: 10%;
	left: 0;
	width: 100%;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	/* color: #fff; */

  /* background-color: white; */
}
 .volume p{
   position: absolute;
	font-size: 15px;
	margin-left: 500px;
  /* color: yellow; */

}
#volume_icon{
  background-color:#e98769;
}
 .volume i{
	cursor: pointer;
	margin-top: -390px;

	padding: 8px 12px;
	/* background: #FF8A65; */
}

 .volume i:hover{
	/* background: rgba(245,245,245,0.1); */
	/* background: white; */
  opacity: 0.9;
}

.volume #volume_show{
  position:absolute;
	/* margin-top: -390px; */

	margin: 0 5px 0 0;
  margin-left: -205px;
	background: rgba(245,245,245,0.1); 
  font-size: 20px;
} 
#volume{
	margin-top: -390px;

}

.slider {
  -webkit-appearance: none;
	/* margin-top: -390px; */

  background:red; 
  opacity: 0.7; 
  height: 7px;
  outline: none; 

}
.slider:hover {
  opacity: 1; 
}



/*animation*/

.animatePlayer{
  animation: circularRotate 10s infinite linear;
}

@keyframes circularRotate{
  0%{transform: rotate(0deg);}
  100%{transform: rotate(360deg);}
}